.gallery-container{
    background-color: white;
    height: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    background: #f6f6f6;
    margin: .5rem;
    border-radius: .25rem;
}