.kendo__about{
    padding:0;
    margin:0;
    right:0;
}
.kendo__about-text{
    display: flex;
    flex-direction: column;
    text-align:center;
    font-family:var(--font-about);
    color:white;
    font-size:2.5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.kendo__about-text-title{
    text-shadow: 2px 2px 9px rgba(0,0,0,0.6);
}


.kendo__about-text-sub{
    margin-top: 3rem;
    max-width: 80vw;
    text-align:center;
    background: rgba(227, 200, 155, 0.75);
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    padding: 1rem 1rem;
    font-size: 2rem;
}

.kendo__about-text-link{
    font-size:2rem;
    padding-top: 1rem;
}

.section__padding-about{
    margin-top: 0.5rem;
    scroll-margin-top: 6.4rem;
}

.parallax__about{
    /* The image used */
    background-image: url('../../assets/oldgroup.jpg');
    /* Set a specific height */
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 770px){
    .kendo__about-text{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}