.mission-statement{
    flex-direction: column;
    text-align:center;
    font-size: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: white;
    background-color:rgb(46, 123, 190);
}

.mission-statement p{
    font-size: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
}

.mission-statement-title{
    padding-bottom: 1rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}